alpaca-trade-api==1.2.2
yfinance==0.1.59
python-dotenv==0.18.0
loguru==0.5.3
requests-cache==0.6.4
# requests==2.25.1
pandas==1.2.5
# ta==0.7.0
# numpy==1.21.0
# pandas_datareader==0.9.0
# backtesting==0.3.1
stockstats==0.3.2
# scipy==
# matplotlib==
backtesting==0.3.1
tabulate==0.8.9
